{% extends 'dashboard_base.html' %}
{% block content %}

<div class="card">
    <h5 class="card-header">Customer Record</h5>
    <div class="card-body">
        <h5 class="card-title">
            <strong>Name:</strong>
            {{single_record.first_name}} {{single_record.last_name}}
        </h5>
        <p class="card-text">
            <strong>Email:</strong>
            {{single_record.email}}
        </p>
        <p class="card-text">
            <strong>Phone No:</strong>
            {{single_record.phone}}
        </p>
        <p class="card-text">
            <strong>Address:</strong>
            {{single_record.address}},{{single_record.city}},{{single_record.state}}
        </p>
        <p class="card-text">
            <strong>Zipcode:</strong>
            {{single_record.zipcod}}
        </p>
        <a href="{% url 'record' %}" class="btn btn-primary">Back</a>
        <a href="{% url 'single_record_delete' single_record.id  %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'update_record' single_record.id  %}" class="btn btn-secondary">Update Record</a>
    </div>
</div>

{% endblock%}